/* Style for page: Form creator */

/* Main area style */
.formCreator_main {
    max-width: 100%;
    max-height: 80vh;

    /* flexbox setup - https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.formCreator_flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap; 
}
.formCreator_flexRow div {
    margin-right: 1rem;
}

.formCreator_tableOfContent {
    background-color: white;
    width: 10%;
    height: 80vh;
    padding: 1rem;
    overflow-y: auto;
}

.formCreator_edit {
    height: 80vh;
    width: 65%;
    padding: 1rem;
    overflow-y: auto;
}
.formCreator_edit_container {
    padding: 1rem;
}

.formCreator_settings {
    background-color: white;
    height: 80vh;
    width: 25%;
    padding: 1rem;
    overflow-y: auto;
}

/* Icons */
.settingIcon {
    float: right;
    top: 0;
    margin-top: -2rem;
    border: none;
    display: block;
    opacity: 0%;
    transition: var(--transition-speed-table) ease-in-out;
}
.formCreator_edit_block:hover .settingIcon  {
    opacity: 100%;
    transition: var(--transition-speed) ease-in-out;
} 



/* Scroll bar site */
.ltr {
    direction: ltr;
}
.rtl {
    direction: rtl;
}