/*Navbar - Fireship*/
    :root {
        --text-primary: #b6b6b6;
        --text-primary-light: #d3d3d3;
        --text-primary-secondary: #dddddd;
        --text-secondary: #ececec;
        --text-tertiary: #f3f3f3;
        --text-quaternary: #fafafa;
        --bg-primary: #23232e;
        --bg-secondary: #141418;
        --transition-speed: 600ms;
        --transition-speed-box: 600ms;
        --transition-speed-table: calc(var(--transition-speed)/2);
        --transition-speed-inputfield: calc(var(--transition-speed)/4);
        --transition-speed-freight: 1200ms;
        --brand-primary: #ffa3ba;
        --brand-secondary: #8AE1FF;
        --brand-secondary-light: #c5f0ff;
        --text-hover-primary:#003b4f;
        --text-hover-secundary: #005876;
        --text-hover-tertiary: #0093c4;
        --border-primary: 1px Solid lightgray;
        --border-primary-color: lightgray;
        --submit-color-primary: #70ff41;
        --submit-color-primary-secondary: #9cff7c;
        --submit-color-secondary: #baffa3;
        --delete-color-primary: #ff0000;
        --delete-color-secondary: #ff4e4e;
        --cancel-color-primary: #ffa500;
        --cancel-color-secondary: #ffc14e;
        --cancel-color-secondary-secondary: #d6b577;
        --cancel-color-tertiary: #ffd689;
        --cancel-color-quaternary: #ffeac4;
        --cancel-color-quaternary-secondary: #f1e6d2;
        text-align: left;
    }
    
    a {
        text-decoration: none;
        color: black;
        transition: var(--transition-speed-table) ease-in-out;
    }
    a:hover {
        transition: var(--transition-speed-table) ease-in-out;
        color: var(--text-hover-tertiary);
    }
    

/*main tabledesign for InfoTable*/
    .InfoTable {
        border-collapse:collapse;
        width: 100%;
        direction: ltr;
    }
    .InfoTable tr:nth-child(even) {
        /* transition: var(--transition-speed-table) ease-in-out; */
        background: var(--text-secondary);
    }
    .InfoTable tr:nth-child(odd) {
        /* transition: var(--transition-speed-table) ease-in-out; */
        background: white;
    }
    .InfoTable th {
        padding: 0.5rem;
        text-align: left;
        transition: var(--transition-speed-table) ease-in-out;
    }
    .InfoTable td{
        padding: 0.25rem;
        transition: var(--transition-speed-table) ease-in-out;
    }

    
    /*Header design*/
    .InfoTable th {
        background-color: var(--text-primary-light);
        text-align: left;
        /*border-bottom: 2px solid var(--border-primary-color); - removing borders*/ 
    }
    .InfoTable thead tr{
        transition: var(--transition-speed-table) ease-in-out;
        background-color: white;
        text-align: left;
    }
    .InfoTable thead th{
        transition: var(--transition-speed-table) ease-in-out;
        position: sticky;
        top: 0;
        text-align: left;
    }
    .InfoTable tbody {
        position: relative;
    }
    .utilityIcon {
        padding: 0px 5px 0px 5px;
    }


    /*Border design*/
        .InfoTable tbody td{
            border-right: var(--border-primary);
        }
        .InfoTable tbody td:nth-last-child(1){
            border-right: 0px;
        } 

    /*hover effec*/
        .highlighted {
            transition: var(--transition-speed-table) ease-in-out;
            color: var(--text-hover-tertiary);
        }
        .InfoTable tr:nth-child(even) td:hover {
            transition: var(--transition-speed-table) ease-in-out;
            background-color: var(--text-primary-secondary);
        }
        .InfoTable tr:nth-child(odd) td:hover {
            transition: var(--transition-speed-table) ease-in-out;
            background-color: var(--text-tertiary);
        }
        .InfoTableRow:hover {
            transition: background-color var(--transition-speed-table) ease-in-out;
            color: var(--text-hover-tertiary);
        }

    /*Form styles*/
        .hidden {
            display: none;
        }
        .formGroup {
            max-height: 70vh;
            max-width: 90vw;
            width: 100%;
            overflow-y: auto;
            overflow-x: auto;
            scrollbar-width: thin; /*for firefox*/
            scrollbar-color: var(--text-primary) var(--bg-primary); /*for firefox*/
            transition: calc(var(--transition-speed-table)) ease-in-out;
        }
        .formGroup_scroll_left {
            direction: rtl;
            overflow-y: auto;
            max-height: 71vh;
        }
        /* To make scroll bar on left */
        .formGroup_container {
            direction: ltr;
            overflow-x: scroll;
            min-width: 98.5%;
        }
        .formGroup::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }
    
        .formGroup::-webkit-scrollbar-track {
            background: var(--text-primary);
        }
    
        .formGroup::-webkit-scrollbar-thumb {
            background: var(--bg-primary);
        }

        .InputField {
            transition: var(--transition-speed-inputfield) ease-in-out;
            margin-bottom: 0.5rem;
            white-space: nowrap;
        }
        .InputGroupLabel {
            font-size: 20px;
        }
        .InputGroup {
            padding-top: 0.5rem;
            margin-bottom: 1rem;
            max-height: 80vh;
        }
        .UnderInputGroup {
            margin-bottom: 0.5rem;
        }
        .InputLabel {
            margin-bottom: 0.5rem;
        }
        .inputBox {
            transition: var(--transition-speed-inputfield) ease-in-out;
            padding: 0.2rem;
            border-radius: 0.5rem;
            border: 1px solid lightgray;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
            font-family: 'Open Sans';
        }
        .inputBox:hover {
            transition: var(--transition-speed-inputfield) ease-in-out;
            background-color: var(--text-quaternary);
        }
        .inputBox:focus {
            border-radius: 0.5rem;
        }
        .inputBox:-moz-read-only {
            transition: var(--transition-speed-inputfield) ease-in-out;
            background-color: var(--text-tertiary);
        }
        .inputBox:read-only {
            transition: var(--transition-speed-inputfield) ease-in-out;
            background-color: var(--text-tertiary);
        }
        .inputBoxWithtext {
            margin-right: 1rem;
        }
        .inputCheckbox {
            transition: var(--transition-speed-inputfield) ease-in-out;
            padding: 0.2rem;
            border-radius: 0.5rem;
            font-family: 'Open Sans';
            margin: 0px;
            margin-bottom: 1rem;
        }
        .checkboxSpan {
            transition: var(--transition-speed-inputfield) ease-in-out;
            padding: 0.3rem;
            padding-top: 0.4rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-radius: 0.25rem;
        }
        .selectBox {
            transition: var(--transition-speed-inputfield) ease-in-out;
            padding: 0.2rem;
            border-radius: 0.5rem;
            border: 1px solid lightgray;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
            font-family: 'Open Sans';
        }
        .inputBox:focus {
            background-color: var(--text-quaternary);
        }
        /*buttons*/
            .btn {
                transition: var(--transition-speed) ease-in-out;
                border-radius: 0.75rem;
                border: 0px solid lightgrey;
                padding: 0.5rem;
                background-color: var(--text-secondary);
            }
            .btn:hover {
                background-color: var(--text-primary-secondary);
            }
            .updateBtn {
                background-color: var(--submit-color-secondary);
            }
            .updateBtn:hover {
                background-color: var(--submit-color-primary);
            }
            .deleteBtn {
                background-color: var(--delete-color-secondary);
            }
            .deleteBtn:hover {
                background-color: var(--delete-color-primary);
            }
            .cancelBtn {
                background-color: var(--cancel-color-secondary);
            }
            .cancelBtn:hover {
                background-color: var(--cancel-color-primary);
            }
        /*Not saved style*/
            /*edited*/
            
            .edited {
                transition: var(--transition-speed-inputfield) ease-in-out;
                background-color: var(--cancel-color-quaternary);
            }
            .edited:read-only {
                background-color: var(--cancel-color-quaternary-secondary);
            }
            .edited:hover {
                background-color: var(--cancel-color-tertiary);
            }
            .edited:-moz-read-only {
                background-color: var(--cancel-color-quaternary-secondary);
            }
            /*not*/
            .notSaved {
                transition: var(--transition-speed-inputfield) ease-in-out;
                border-color: var(--delete-color-primary);
                background-color: var(--cancel-color-secondary);
            }
            .notSaved:hover {
                background-color: var(--cancel-color-primary);
            }
            .notSaved:-moz-read-only {
                background-color: var(--cancel-color-secondary-secondary);
            }
            .notSaved:read-only {
                background-color: var(--cancel-color-secondary-secondary);
            }
    /* add table */
    .addtable {
        text-align: left;
    }
    .addtablebtn {
        text-align: left;
        background-color: var(--submit-color-primary-secondary);
    }
    .addtablebtn:hover {
        background-color: var(--submit-color-primary);
    }


    /* Payment status */
    .payed, form select .payed {
        background-color: var(--submit-color-secondary);
    }
    .unpayed {
        background-color: var(--cancel-color-tertiary);
    }
    .crewpayed, form select .crewpayed {
        background-color: var(--brand-secondary);
    }

    /* Checkbox */
    .checkboxDiv {
        width: unset !important;
        min-width: 50% !important;
        margin-right: 0px !important;
    }