:root {
    --text-primary: #b6b6b6;
    --text-primary-light: #d3d3d3;
    --text-primary-secondary: #dddddd;
    --text-secondary: #ececec;
    --text-tertiary: #f3f3f3;
    --text-quaternary: #fafafa;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --transition-speed-box: 600ms;
    --transition-speed-table: calc(var(--transition-speed)/2);
    --transition-speed-inputfield: calc(var(--transition-speed)/4);
    --transition-speed-freight: 1200ms;
    --brand-primary: #ffa3ba;
    --brand-secondary: #8AE1FF;
    --brand-secondary-light: #c5f0ff;
    --text-hover-primary:#003b4f;
    --text-hover-secundary: #005876;
    --text-hover-tertiary: #0093c4;
    --border-primary: 1px Solid lightgray;
    --border-primary-color: lightgray;
    --submit-color-primary: #70ff41;
    --submit-color-primary-secondary: #9cff7c;
    --submit-color-secondary: #baffa3;
    --delete-color-primary: #ff0000;
    --delete-color-secondary: #ff4e4e;
    --cancel-color-primary: #ffa500;
    --cancel-color-secondary: #ffc14e;
    --cancel-color-secondary-secondary: #d6b577;
    --cancel-color-tertiary: #ffd689;
    --cancel-color-quaternary: #ffeac4;
    --cancel-color-quaternary-secondary: #f1e6d2;
    text-decoration: none;
}

/*Form styles*/
.hidden {
    display: none;
}
.formGroup {
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin; /*for firefox*/
    scrollbar-color: var(--text-secondary) var(--text-primary-secondary); /*for firefox*/
    transition: calc(var(--transition-speed-inputfield)) ease;
}
.formGroup::-webkit-scrollbar {
    width: 0.5rem;
}

.formGroup::-webkit-scrollbar-track {
    background: var(--text-secondary);
}

.formGroup::-webkit-scrollbar-thumb {
    background: var(--text-primary-secondary);
}

.InputField {
    transition: var(--transition-speed-inputfield) ease;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}
.InputGroupLabel {
    font-size: 20px;
}
.InputGroup {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    max-height: 80vh;
}
.UnderInputGroup {
    margin-bottom: 0.5rem;
}
.InputLabel {
    margin-bottom: 0.5rem;
}
.inputBox {
    transition: var(--transition-speed-inputfield) ease;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Open Sans';
}
.inputBox:hover {
    transition: var(--transition-speed-inputfield) ease;
    background-color: var(--text-quaternary);
}
.inputBox:focus {
    border-radius: 0.5rem;
}
.inputBox:-moz-read-only {
    transition: var(--transition-speed-inputfield) ease;
    background-color: var(--text-tertiary);
}
.inputBox:read-only {
    transition: var(--transition-speed-inputfield) ease;
    background-color: var(--text-tertiary);
}
.inputBoxWithtext {
    margin-right: 1rem;
}
.inputCheckbox {
    transition: var(--transition-speed-inputfield) ease;
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-family: 'Open Sans';
    margin: 0px;
    margin-bottom: 1rem;
}
.checkboxSpan {
    transition: var(--transition-speed-inputfield) ease;
    padding: 0.3rem;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
}
.selectBox {
    transition: var(--transition-speed-inputfield) ease;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Open Sans';
}
.inputBox:focus {
    background-color: var(--text-quaternary);
}
input[type="color"] {
    padding: 0px;
    /* width: 5rem; */
}
/*buttons*/
.btn {
    transition: var(--transition-speed) ease;
    border-radius: 0.75rem;
    border: 0px solid lightgrey;
    padding: 0.5rem;
    background-color: var(--text-secondary);
}
.btn:hover {
    background-color: var(--text-primary-secondary);
}
.updateBtn {
    background-color: var(--submit-color-secondary);
    color: black;
    text-transform: unset;
}
.updateBtn:hover {
    background-color: var(--submit-color-primary);
}
.deleteBtn {
    background-color: var(--delete-color-secondary);
}
.deleteBtn:hover {
    background-color: var(--delete-color-primary);
}
.cancelBtn {
    background-color: var(--cancel-color-secondary);
}
.cancelBtn:hover {
    background-color: var(--cancel-color-primary);
}
.normalBtn {
    background-color: var(--text-hover-tertiary);
    color: white;
}
.normalBtn:hover {
    background-color: var(--text-hover-secundary);
    color: white;
}
/*Not saved style*/
/*edited*/

.edited {
    transition: var(--transition-speed-inputfield) ease;
    background-color: var(--cancel-color-quaternary);
}
.edited:read-only {
    background-color: var(--cancel-color-quaternary-secondary);
}
.edited:hover {
    background-color: var(--cancel-color-tertiary);
}
.edited:-moz-read-only {
    background-color: var(--cancel-color-quaternary-secondary);
}
/*not*/
.notSaved {
    transition: var(--transition-speed-inputfield) ease;
    border-color: var(--delete-color-primary);
    background-color: var(--cancel-color-secondary);
}
.notSaved:hover {
    background-color: var(--cancel-color-primary);
}
.notSaved:-moz-read-only {
    background-color: var(--cancel-color-secondary-secondary);
}
.notSaved:read-only {
    background-color: var(--cancel-color-secondary-secondary);
}


/* Dropdown */
/* .dropdown { */
    /* font-size: 1.6rem !important; */
    /* padding: 1.5rem 1.8rem;
    padding-top: 1.5rem;
    padding-right: 1.8rem;
    padding-bottom: 1.5rem;
    padding-left: 1.8rem; */
    /* background: #fff; */
    /* border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    border-color:rgb(195, 195, 195); */
/* } */

.form_warning {
    display: flex;
    flex-direction: row;
    width: 20rem;
    min-height: 2rem;

    border-radius: 2rem;
    background-color: red;

    padding: 1rem;
}
.form_warning_icon {
    color: white;
    width: 3rem;
    align-self: center;
}
.form_warning_icon_span {
    font-size: 2rem;
    margin-top: 5px;
}
.form_warning_text {
    color: white;
    align-self: center;
}
.form_warning_smalltext {
    color: red;
}

.form_success {
    display: flex;
    flex-direction: row;
    width: 15rem;
    min-height: 2rem;

    border-radius: 2rem;
    background-color: var(--submit-color-primary);

    padding: 1rem;
}
.form_success_icon {
    color: white;
    width: 2.5rem;
    align-self: center;
}
.form_success_icon_span {
    font-size: 2rem;
    margin-top: 5px;
}
.form_success_text {
    color: white;
    font-weight: bolder;
    align-self: center;
}
.form_success_smalltext {
    color: var(--submit-color-primary);
}